h1{
    color: #31A5AC
}
header img{
    width: 3rem;
}
.right-side{
    background-color: #F8F8F8;
}
.input-field{
    background-color: #DCDCDC;
    border: 0;
    border-radius: 2px;
}
label{
    width: 5rem;
}
.primary-button{
    padding: 10px 30px;
    background-color: #59A5FF;
    border-radius: 18px;
    outline: none;
    border: 0;
    color: #fff;
}
#save-input{
    width: 6rem;
}